src/main/resources/XSD/constituencyResultXSD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="constituencyResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="constituencyResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:integer" name="consituencyId"/>
              <xs:element type="xs:string" name="constituencyName"/>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="result" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="partyCode"/>
                          <xs:element type="xs:short" name="votes"/>
                          <xs:element type="xs:float" name="share"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:int" name="seqNo"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>